<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Emergency Requests</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
  <h1>Emergency Requests</h1>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>Datetime</th>
      <th>Input Text</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Emergency Class</th>
      <th>hospital1</th>
      <th>addr1</th>
      <th>tel1</th>
      <th>hospital2</th>
      <th>addr2</th>
      <th>tel2</th>
      <th>hospital3</th>
      <th>addr3</th>
      <th>tel3</th>
    </tr>
    </thead>
    <tbody>
    <!-- 데이터를 반복하여 테이블에 출력 -->
    <tr th:each="request : ${requests}">
      <td th:text="${request.id}"></td>
      <td th:text="${request.datetime}"></td>
      <td th:text="${request.inputText}"></td>
      <td th:text="${request.inputLatitude}"></td>
      <td th:text="${request.inputLongitude}"></td>
      <td th:text="${request.emclass}"></td>
      <td th:text="${request.hospital1}"></td>
      <td th:text="${request.addr1}"></td>
      <td th:text="${request.tel1}"></td>
      <td th:text="${request.hospital2}"></td>
      <td th:text="${request.addr2}"></td>
      <td th:text="${request.tel2}"></td>
      <td th:text="${request.hospital3}"></td>
      <td th:text="${request.addr3}"></td>
      <td th:text="${request.tel3}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
